 
html, body {
  overflow-x: hidden;/*PREVINE O SCROOL HORIZONTAL*/
}
 
 
 /*HEADER CABEÇALHO*/
  
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
 * {
     padding: 0;
     margin: 0;
     font-family: 'Inter', sans-serif;
 }

 /* Ajuste no cabeçalho */
 header {
  background-color: #ef6abe;/*Cor do cabeçalho*/
  box-shadow: 0px 3px 10px #a31f6a;
  position: relative; /* Adicione esta linha */
  z-index: 10; /* Adicione esta linha */
}

/* Ajuste no menu mobile */
.mobile-menu {
  display: none;
  position: absolute; /* Mude para absolute */
  top: 60px; /* Ajuste conforme necessário */
  left: 0;
  width: 100%;
  background-color: #e23cdc;
  z-index: 9; /* Adicione esta linha */
}

/* Ajuste no botão do menu */
.mobile-menu-icon {
  display: none;
  z-index: 11; /* Adicione esta linha */
}

/* Media query para mobile */
@media screen and (max-width: 730px) {
  .nav-item {
      display: none;
  }
  .login-button {
      display: none;
  }
  .mobile-menu-icon {
      display: block;
  }
  .mobile-menu.open {
      display: flex; /* Exibe o menu quando aberto */
      flex-direction: column;
      text-align: center;
      padding-bottom: 1rem;
  }
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 6rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  color: #fff;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  text-decoration: none;
  font-size: 1.15rem;
  color: #fff;
  font-weight: 400;
}

.login-button button {
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #0187a7;
}

.login-button button a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 730px) {
  .nav-bar {
      padding: 1.5rem 4rem;
  }
  .nav-item {
      display: none;
  }
  .login-button {
      display: none;
  }
  .mobile-menu-icon {
      display: block;
  }
  .mobile-menu-icon button {
      background-color: transparent;
      border: none;
      cursor: pointer;
  }
  .mobile-menu ul {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-bottom: 1rem;
  }
  .mobile-menu .nav-item {
      display: block;
      padding-top: 1.2rem;
  }
  .mobile-menu .login-button {
      display: block;
      padding: 1rem 2rem;
  }
  .mobile-menu .login-button button {
      width: 100%;
  }
  .open {
      display: block;
  }
}

.mobile-menu {
  display: none; /* Oculta o menu mobile por padrão */
  position: absolute;
  top: 150px;
  right: 0;
  background-color: #ef6abe;
  width: 100%;
  padding: 20px;
  z-index: 100;
}

.mobile-menu.open {
  display: block; /* Mostra o menu quando estiver aberto */
}


/*FIM DO CABEÇALHO*/

/*PAG hOME*/

  /* Remove margens e paddings para evitar comportamentos indesejados */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

    /*PAG SOBRE MIM*/
  /*TITULO SOBRE MIM*/
  .container .titulo-iceCream-home h1{
    /* font-size: 50px; */
    color: white;
    font-size: 3em;
    margin-left: 45px;
    padding-top: 123px;/*DÁ ESPAÇAMENTO DO TITULO DO CABEÇALHO*/
    margin-bottom: 6px;
    color: white;
    text-transform: uppercase;
  
  }

   /*MEDIA TITULO HOME ICE CREAM*/
  /*TIRANDO A MARGIN DO PARAGRAFO OLÁ MEU NOME É*/
  /*AQUI AJUSTA A ALTURA DE ESPAÇAMENTO DO PARAGRAFO OLA  EM MOBILE*/
  @media (max-width: 1217px) {
    .container #titulo-iceCream-home h1{
       margin-bottom: -5px;
       margin-top: 3px;/*altura entre o cabeçalho eo titulo ola.*/
    }}

    /*DESCRIÇÃO SOBRE MIM*/
  .container #text-iceCream-home h3{
    color: white;
    font-size: 25px;
    margin-block: 34px;
    max-width: 423px;
   
  }
 
  
  /* @media(max-width: 360px){
    .container #paragrafo-sobreMim h3{
      width: 325px;
    } 
  } */

  @media only screen and (min-width: 375px){
    .container #text-iceCream-home h3{
      width: 347px;
    }
  }
 
    /*IMAGEM EU SOBRE-MIM PAGE*/
  
  /* Estilização do container da imagem */
  .container #img-container-logo {
    position: relative;
    display: flex;
    justify-content: flex-end; /* Alinha no canto direito */
    margin-right: 20px; /* Espaçamento da margem direita */
    margin-top: -430px;
  }
  


  
  /*SOMBRA ATRÁS DA LOGO PAG HOME*/
  #img-logo-home img{
   filter: drop-shadow(20px 0px 15px  #ea6298) ;
  }
  
  /* Estilo da imagem */
   .img-logo-home img {
    position: relative;
    z-index: 2; /* Coloca a imagem na frente do quadrado */
    width: 430px; /* Tamanho da imagem */
    height: 457px;
    margin-right: 0; /* Remove margens adicionais à direita */
    margin-top: -180px; /* Ajuste a sobreposição */
    left: 12px;
  }

  /*MEDIA PARA CO9LOCAR A IMAGEM EMBAIXO DO TEXTO MOBILE*/
  @media (max-width:375px) {
    .container #img-container-logo img {
      top: 610px;
      max-width: 210px;
      max-height: 210px;
      position: center;
      align-items: center;
      display: flex;
      left: -52px;
    }
  }

  @media (max-width:414px) {
    .container #img-logo-home img {
      top: 610px;
      max-width: 310px;
      max-height: 310px;
      position: center;
      align-items: center;
      display: flex;
      left: -52px;
    }
  }
  
  /*MEDIA SOBRE IMAGE*/
  @media (max-width: 1217px) {
    .img-logo-home img {
      top: 610px;
      max-width: 340px;
      max-height: 330px;
      left: -2px;
      position: relative;
    }
    
  } 
  
  
  @media (max-width:375px) {
    .img-sobre img{
        visibility: hidden;/*faz com que a imagem suma quando vai para mobile.*/
        flex-direction: column; /* Quando a tela for pequena, coloca um nome embaixo do outro */
        align-items: center; /* Centraliza verticalmente */
    }
    .quadrado-sobre{
        visibility: hidden;/*faz com que a imagem suma quando vai para mobile.*/
        flex-direction: column; /* Quando a tela for pequena, coloca um nome embaixo do outro */
        align-items: center; /* Centraliza verticalmente */
    }
    
  
  } 
  
  /*FIM DA IMAGEM MINHA SOBRE PAG*/





/*RODAPÉ FOOTER*/

.footer{
  width: 100%;
  height: 100px;
  background-color: #ef6abe;/*Cor do rodapé*/
  /* background: linear-gradient(to right, salmon, DarkRed); */
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(239, 235, 235);
  
}

.footer img{
  width: 60px;
  height: 60px;
  align-items: start;
  justify-content: start;
  color: black;
  margin-left: 34px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

/*MEDIA QUERYS FOOTER RODAPÉ */
@media only screen and (max-width: 375px) {

  .footer {
    height: 99px;
    /*width: 3px;/*largura do rodapé */
    display: inline-block;/*faz com que todos fiquem na mesma linha*/
    
  }
  .footer p{
    text-align: center;
    text-transform: capitalize;/*capitalize*/
    font-size: 20px;
  }

  .footer img{
    height: 39px;
    /* width: 33px; */
    display: inline-block;/*faz com que todos fiquem na mesma linha*/
}}


@media only screen and (max-width: 414px) {

  .footer {
    height: 140px;
    /*width: 3px;/*largura do rodapé */
    display: inline-block;/*faz com que todos fiquem na mesma linha*/
    
  }
  .footer p{
    text-align: center;
    text-transform: capitalize;/*capitalize*/
    font-size: 25px;
  }

  .footer img{
    height: 49px;
    /* width: 33px; */
    display: inline-block;/*faz com que todos fiquem na mesma linha*/
}}

@media only screen and (max-width: 430px) {

  .footer {
    height: 140px;
    /*width: 3px;/*largura do rodapé */
    display: inline-block;/*faz com que todos fiquem na mesma linha*/
    
  }
  .footer p{
    text-align: center;
    text-transform: capitalize;/*capitalize*/
    font-size: 25px;
  }

  .footer img{
    height: 49px;
    /* width: 33px; */
    display: inline-block;/*faz com que todos fiquem na mesma linha*/
}}





    