html, body {
    overflow-x: hidden;/*PREVINE O SCROOL HORIZONTAL*/
  }
   
   
   /*HEADER CABEÇALHO*/
    
   @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
   * {
       padding: 0;
       margin: 0;
       font-family: 'Inter', sans-serif;
   }
  
   /* Ajuste no cabeçalho */
   header {
    background-color: #ef6abe;/*Cor do cabeçalho*/
    box-shadow: 0px 3px 10px #a31f6a;
    position: relative; /* Adicione esta linha */
    z-index: 10; /* Adicione esta linha */
  }
  
  /* Ajuste no menu mobile */
  .mobile-menu {
    display: none;
    position: absolute; /* Mude para absolute */
    top: 60px; /* Ajuste conforme necessário */
    left: 0;
    width: 100%;
    background-color: #e23cdc;
    z-index: 9; /* Adicione esta linha */
  }
  
  /* Ajuste no botão do menu */
  .mobile-menu-icon {
    display: none;
    z-index: 11; /* Adicione esta linha */
  }
  
  /* Media query para mobile */
  @media screen and (max-width: 730px) {
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu.open {
        display: flex; /* Exibe o menu quando aberto */
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
  }
  
  .nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo h1 {
    color: #fff;
  }
  
  .nav-list {
    display: flex;
    align-items: center;
  }
  
  .nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  
  .nav-item {
    margin: 0 15px;
  }
  
  .nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
  }
  
  .login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #0187a7;
  }
  
  .login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
  }
  
  .mobile-menu-icon {
    display: none;
  }
  
  .mobile-menu {
    display: none;
  }
  
  @media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
  }
  
  .mobile-menu {
    display: none; /* Oculta o menu mobile por padrão */
    position: absolute;
    top: 150px;
    right: 0;
    background-color: #ef6abe;
    width: 100%;
    padding: 20px;
    z-index: 100;
  }
  
  .mobile-menu.open {
    display: block; /* Mostra o menu quando estiver aberto */
  }
  
  
  /*FIM DO CABEÇALHO*/


   
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  body{
    min-height: 100vh;
    z-index: 2;

    /* display: flex; */
    justify-content: center;
    align-items: center;
    
  }

 
 /*TITULO */
  
 .container {
    position: relative; /* Adicione esta linha */
    z-index: 5; /* Adicione esta linha para garantir que o contêiner fique atrás do título */
    padding: 0; /* Remova o padding se houver */
    margin: 0; /* Remova a margem se houver */
    /* display: inline-block; */
  } 

  .container .titulo-produtos h1 {
    font-size: 4em;
    margin-left: 65px;
    padding-top: 123px; /* DÁ ESPAÇAMENTO DO TITULO DO CABEÇALHO */
    margin-bottom: 6px;
    color: rgb(247, 84, 181);
    text-transform: uppercase;
    position: relative; /* Adicione esta linha */
    z-index: 10; /* Adicione esta linha para garantir que o título fique na frente */
    align-items: center;
    text-align: center;
}

/*MEDIA PARA ARRUMAR O TITULO EM MOBILE*/
@media only screen and (max-width:375px){
  .container .titulo-produtos h1{
   width: 5px;
   height: 12px;
   font-size: 3em;
   margin-bottom: 133px;
   margin-left: -132px;
  }
}

@media only screen and (max-width:360px){
  .container .titulo-produtos h1{
   width: 13px;
   height: 12px;
   font-size: 2em;
   margin-left:12px;
   margin-bottom: 133px;
   margin-left: -132px;
  }
}

@media only screen and (max-width:414px){
  .container .titulo-produtos h1{
   width: 13px;
   height: 12px;
   font-size: 3.9em;
   margin-bottom: 133px;
   margin-left: -132px;
  }
}

@media only screen and (max-width:430px){
  .container .titulo-produtos h1{
   width: 13px;
   height: 12px;
   font-size: 3.9em;
   margin-bottom: 133px;
   margin-left: -132px;
  }
}


/*TESTE CARDS PRODUTOS*/



.container{

  flex-wrap: wrap;
  margin-bottom: 133px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px 50px ;/*dá um espaçamento entre os cards, um ao lado do outro IMPORTANTE*/
}

.container .card{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 350px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0,0,0,.15);
  background: #f7f7f7;
  transition: .5s;
}

.container .card:hover{
  height: 400px;
  /* transform:rotate(-5deg); */
}

.container .card .caixaImg{
  position:absolute;
  width: 300px;
  height: 220px;
  border-radius: 12px;
  overflow: hidden;
  top: 20px;
  transition: .5s;
}

.container .card .caixaImg img{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  margin-left: 35px;
  border-radius: 7px;
}

.container .card .conteudo{
  position:absolute;
  top: 250px;
  width: 100%;
  height: 35px;
  padding:0 30px;
  overflow: hidden;
  text-align: center;
  transition: .5s;
}

.container .card:hover .conteudo{
  top: 150px;
  height: 250px;
}

.container .card:hover .caixaImg{
  top: -80px;
  scale: .75;
  filter: drop-shadow(20px 0px 15px  #440101);
}

.container .card .conteudo h2{
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 3rem;
  color: var(--cor);
}

.container .card .conteudo p{
  color: #333;
}

.container .card .conteudo a{
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  background:var(--cor) ;
  color: #fff;
  border-color: var(--cor);
  font-weight:500;
  filter: drop-shadow(20px 0px 15px  var(--cor));
  transition: .5s;
}

.container .card .conteudo a:hover{
  background: black;
  transition: .5s;
}





/*SOMBRA ATRÁS DOs CARD BLUR*/
.container div.card.cremora{
  box-shadow: 50px 20px 80px -30px  #d10d1d;
}
.container div.card.creoreo{
  box-shadow: 50px 20px 80px -30px  #261C1B;
}
.container div.card.moshake{
  box-shadow: 50px 20px 80px -30px  #f02c40;
}
.container div.card.shakemelo{
  box-shadow: 50px 20px 80px -30px  #f39302;
}

/* .container .produtosCremora{
  background: linear-gradient(to right, #FBAB76, #892F2D);
 width: 230px;
 height: 633px;
 margin: 15px;
 border-radius: 10px 10px  50px 50px;
}

.produtosCremora{
 filter: drop-shadow(20px 0px 15px  #440101) ;
}

.produtosCremoraImage img{
 filter: drop-shadow(20px 0px 15px  #440101) ;
}

.container #titulo-cremora h1{
 align-items: center;
 text-align: center;
 color:white ;
 padding-top: 33px;
 text-transform: uppercase;
 margin: 0px;

}

.container .produtosCremoraImage img{
 margin-top: 100px;
 width: 233px;
 height: 400px;
 margin-left: -40px;
}
 */





/*RODAPÉ FOOTER*/
  
.footer{
  width: 100%;
  height: 100px;
  background-color: #ef6abe;/*Cor do rodapé*/
  /* background: linear-gradient(to right, salmon, DarkRed); */
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(239, 235, 235);
  
}

.footer img{
  width: 60px;
  height: 60px;
  align-items: start;
  justify-content: start;
  color: black;
  margin-left: 34px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

/*MEDIA QUERYS FOOTER RODAPÉ */
@media only screen and (max-width: 375px) {

  .footer {
    height: 99px;
    /*width: 3px;/*largura do rodapé */
    display: inline-block;/*faz com que todos fiquem na mesma linha*/
    
  }
  .footer p{
    text-align: center;
    text-transform: capitalize;/*capitalize*/
    font-size: 20px;
  }

  .footer img{
    height: 39px;
    /* width: 33px; */
    display: inline-block;/*faz com que todos fiquem na mesma linha*/
}}


@media only screen and (max-width: 414px) {

  .footer {
    height: 140px;
    /*width: 3px;/*largura do rodapé */
    display: inline-block;/*faz com que todos fiquem na mesma linha*/
    
  }
  .footer p{
    text-align: center;
    text-transform: capitalize;/*capitalize*/
    font-size: 25px;
  }

  .footer img{
    height: 49px;
    /* width: 33px; */
    display: inline-block;/*faz com que todos fiquem na mesma linha*/
}}

@media only screen and (max-width: 430px) {

  .footer {
    height: 140px;
    /*width: 3px;/*largura do rodapé */
    display: inline-block;/*faz com que todos fiquem na mesma linha*/
    
  }
  .footer p{
    text-align: center;
    text-transform: capitalize;/*capitalize*/
    font-size: 25px;
  }

  .footer img{
    height: 49px;
    /* width: 33px; */
    display: inline-block;/*faz com que todos fiquem na mesma linha*/
}}



 